.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    flex-grow: 1;
}

.text img{
    height: 120px;
    margin: 0 20px;
    margin-top: 15px;
}

.text span{
    font-size: 62px;
    font-weight: bold;
    text-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(rgb(247, 105, 200), rgb(54, 3, 137));
    color: transparent;
    background-clip: text;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 55%;
    background-color: #2c2937;
    border-radius: 30px;
    padding: 15px;
}


form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    textarea{
        height: 100%;
        width: 100%;
        resize: none;
        overflow: auto;
        word-wrap: break-word;
        text-wrap: wrap;
        background-color: transparent;
        border: none;
        outline: none;
        font-family: inherit;
        color: #ececec;
        padding: 0 15px;
    }
    textarea::placeholder{
        color: #ececec;
        opacity: 0.6;
    }
    textarea::-webkit-scrollbar {
        display: none;
        }
    button{
        img{
            height: 16px;
            width: 14px;
        }
        border-radius: 25px;
        height: 30px;
        width: 30px;
        background-color:  #5a526c;
        border: none;
        margin: 0 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button:hover{
        background-color:  #766d8a;
    }
}